body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: #000000;
}

.construction-container {
    margin-top: 50px;
}

h1 {
    color: #053ef8;
    font-size: 3em;
}

#bulldozer {
    width: 75%;
    margin-top: 30px;
}
